<h1>I am here</h1>
<form action="/answer" method="get">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>

<%# what site are we going to for action %>
<%# name should be question? %>