
<h5>Ask your coach anything:</h5>

<form class= "form-inline" action="/answer" method="get">
  <input type="text" class="form-control" name="question" value="<%= params[:question] %>">
  <input type="submit" value="Ask!" class="btn btn-primary"> 
</form>

