// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Defining a variable
 

 .you {
   background:white;
   padding: 8px;
   border-left:8px solid #DDDDDD;
   padding: 16px;
   margin-bottom: 16px;
 }
 
 .answer {
   background:#FFFFE1;
   padding: 8px;
   border-left:8px solid #DDDDDD;
 }

